:root {
    --green: #06C305;
}

.__default__font-style {
    font-size: 3em;
    color: var(--green)
}

.visibility-hidden {
    visibility: hidden;
}

.__default__color-green {
    color: var(--green);
}

.cursor-pointer {
    cursor: pointer;
}